# 1. What are data structures, and why are they important?

Data structures are ways to store and organize data in a computer so that it can be used efficiently.

They are important because they help in:

* Organizing large amounts of data.

* Performing operations like searching, sorting, and updating quickly.

* Choosing the right structure improves program speed and memory usage.

# 2. Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation.

Example: list, dict, set

Immutable data types cannot be changed after creation.

Example: int, float, str, tuple

# 3. What are the main differences between lists and tuples in Python?

Lists are mutable; tuples are immutable.

Lists use []; tuples use ().

Lists can be modified (add, remove, change elements), tuples cannot.

Tuples are faster and use less memory.

# 4. Describe how dictionaries store data?

Dictionaries store data in key-value pairs.

Each value is accessed using its key.

Keys must be unique and immutable (like strings, numbers, or tuples).

student = {"name": "Kick", "age": 20}
print(student["name"])  

Outputs: Kick

# 5. Why might you use a set instead of a list in Python?

We might use a set instead of a list when:

* We need only unique values.

* We want fast lookup (checking if an item exists).

* We want to perform set operations like union, intersection, difference.

# 6. What is a string in Python, and how is it different from a list?

A string in Python is a sequence of characters enclosed in quotes (" " or ' ').

A list is a sequence of items which can be of any type.

Key differences:

* Strings are immutable; lists are mutable.

* Strings store only characters; lists can store multiple data types.

* Strings use 'h', 'e', 'l', etc.; lists can use [1, "hi", True].

# 7. How do tuples ensure data integrity in Python?

Tuples are immutable, meaning their content cannot be changed after creation.

This ensures data integrity by:

* Preventing accidental modifications.

* Making the data safe for use as keys in dictionaries or elements in sets.

# 8.  What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function.

In Python, dictionaries are implemented using hash tables.

Keys are hashed into a location in memory.

This allows fast lookups, insertions, and deletions.

# 9. Can lists contain different data types in Python?

Yes!

Lists in Python can hold items of mixed data types, such as:

my_list = [1, "hello", True, 3.14]

This makes lists very flexible.

# 10. Explain why strings are immutable in Python?

Strings are immutable because:

* Once created, their content cannot be changed.

* This improves performance and security.

* It makes strings safe to use in places where data must remain constant (e.g., dictionary keys).

# 11. What advantages do dictionaries offer over lists for certain tasks?

Key-based access: You can access values by keys instead of indexes.

Faster lookups: Especially when searching for specific data.

Structured data: You can clearly pair labels (keys) with values.

No need to remember index positions.

# 12. Describe a scenario where using a tuple would be preferable over a list?

Use a tuple when you want to protect the data from changes.

Example: Storing coordinates (x, y) or dates like (2025, 4, 16).

Since tuples are immutable, they ensure the data stays constant.

# 13. How do sets handle duplicate values in Python?

Sets automatically remove duplicates.

Only unique elements are stored.

Example:  set([1, 2, 2, 3])  # Result: {1, 2, 3}

# 14.  How does the “in” keyword work differently for lists and dictionaries?

In lists, "in" checks if a value exists.

Example : 2 in [1, 2, 3]  # True

In dictionaries, "in" checks if a key exists.

Example: "name" in {"name": "Alice"}  # True

# 15.  Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify tuple elements.

Tuples are immutable, meaning once created, the values cannot be changed.

# 16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary inside another dictionary.

Example:

students = {
  "student1": {"name": "Alice", "age": 20},
  "student2": {"name": "Bob", "age": 22}
}

Use case: Storing data for multiple objects (like users or students) in one structure.

# 17. Describe the time complexity of accessing elements in a dictionary.

Accessing an element in a dictionary has O(1) time complexity (on average),
which means it is very fast, thanks to the use of hash tables.

# 18. In what situations are lists preferred over dictionaries?

Use a list when:

* Order matters.

* We’re storing simple sequences of values.

* We don’t need labeled data.

Example: List of numbers, colors, or names: ["red", "green", "blue"]

# 19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

Before Python 3.7, dictionaries were unordered, meaning they didn’t keep the order of keys.

From Python 3.7+, they maintain insertion order, but conceptually they're still used for key-based access, not position.

It doesn’t affect retrieval by key, but you can’t access values by index like in a list.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.

In a list, you retrieve data by index (number position).

Example: colors[0]  # First item

In a dictionary, you retrieve data by key (name or label).

Example: person["name"]  # Value associated with the key "name"

In [1]:
# Write a code to create a string with your name and print it
name = "Kick"
print(name)

Kick

In [2]:
# Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [15]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [17]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [21]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Kick",
    "age": 20,
    "city": "Pimpri"
}
print(person)

{'name': 'Kick', 'age': 20, 'city': 'Pimpri'}

In [23]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [25]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [27]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [28]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[31, 45, 62, 72, 90]

In [29]:
#  Write a code to create a list with strings and print the element at the third index
# Creating a list with strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Accessing and printing the element at the third index
print(my_list[3])

date

In [30]:
# Write a code to combine two dictionaries into one and print the result.
# Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the result
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [31]:
# Write a code to convert a list of strings into a set.
# Creating a list of strings
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Converting the list into a set
my_set = set(my_list)

# Printing the result
print(my_set)

{'cherry', 'apple', 'banana'}